# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

# Ignore image files with :Zone.Identifier in any location
*.css:Zone.Identifier
*.cjs:Zone.Identifier
*.ico:Zone.Identifier
*.mjs:Zone.Identifier
*.MD:Zone.Identifier
*.png:Zone.Identifier
*.jpg:Zone.Identifier
*.jpeg:Zone.Identifier
*.js:Zone.Identifier
*.js.flow:Zone.Identifier
*.json:Zone.Identifier
*.rb:Zone.Identifier
*.svg:Zone.Identifier
*.sass:Zone.Identifier
*.ttf:Zone.Identifier
*.txt:Zone.Identifier
*.vue:Zone.Identifier
*.woff:Zone.Identifier
*.woff2:Zone.Identifier

app-example
